html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

body {
    width: 96%;
    margin: 0 auto;
    background-color: rgb(20, 16, 58);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
}

h2 {
    color: white;
    font-size: 44px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

p,
li {
    color: aliceblue;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

.p-place {
    text-align: left;
    color:beige;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}

.em-author {
    font-style: italic;
    font-size: 20px;
    color: aliceblue;
}

.li-second {
    font-size: 18px;
    color: rgb(180, 180, 180)
}

img {
    display: block;
    margin: 0 auto;
}

.link-contact{
    color: aliceblue;
}